
<h4><u><%=@project.name %></u> - <%=@project.description %></h4>
<hr>

<h5>Employee's Working on Project:</h5>

<ul>
  <% @project.users.each do |employee| %>
    <li><i><%= employee.name%></i></li>
  <% end %>  
</ul>

<hr>

<h5> Materials Needed for Project </h5>

<ul>
  <% @project.materials.each do |material| %>
    <li><i><%= material.name  %></li>
  <% end %>
</ul>